-r requirements.txt

# Dev tools
invoke              # Tasks
pip-tools           # Package management
pre-commit          # Pre-commit hooks

# Linting
bandit              # Linter
black               # Linter
flake8              # Linter
isort               # Linter
mypy                # Code inspector

# Test
pytest              # Test framework
pytest-params       # Easier test case parameters
pytest-qt           # Qt plugin to allow user interaction

# Build and publish
flit                # Build, install and upload to Pypi

# Installer
pyinstaller         # Installer framework
