-r requirements.txt

# Dev tools
pre-commit          # Pre-commit hooks
typer               # CLI framework used by typer-invoke
typer-invoke        # Tasks
uv                  # Package management/build/publish

# Linting
bandit              # Linter
ruff                # Linter and formatter
mypy                # Code inspector

# Test
pytest              # Test framework
pytest-params       # Easier test case parameters
pytest-qt           # Qt plugin to allow user interaction


# Installer
pyinstaller         # Installer framework
