name: Linting
# Linting tools use `pyproject.toml` and `setup.cfg` for config.

on:
  - pull_request

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install requirements
        run: pip install -r requirements-dev.txt

      - name: isort
        run: isort .
      - name: black
        run: black .
      - name: flake8
        run: flake8 .
      - name: mypy
        run: mypy src && mypy tests
